<div class="alert alert-danger" role="alert">
	<strong>Attention!</strong> For some unknown reason some browsers have issues with aria. Therefore, please should the below accordians not move if clicked on, please try a different browser. Alex has tested it in
	<atrong>Edge</atrong> and <strong>Internet Explorer 11</strong>. These issues will be fixed in due course.
</div>
