<div class="alert alert-success" role="alert">
	<strong>Update!</strong> According to my short research, the issue has been resolved. Please inform up if this continues to be an
	issue.
	<del>
		<strong>Attention!</strong> For some unknown reason some browsers have issues with aria. Therefore, please should the below accordians
		not move if clicked on, please try a different browser. Alex has tested it in
		<atrong>Edge</atrong> and
		<strong>Internet Explorer 11</strong>. These issues will be fixed in due course.</del>
</div>