<main role="main" class="container">
    <div class="jumbotron jumbotron-title-airport">
        <h1>For
            <strong>documentation</strong> purposes only</h1>
        <p class="lead">Here we go with more data and stuff and more stuff and im bored writing (help!)</p>
        <a class="btn btn-lg btn-primary" href="/airports/egkk" role="button">Random airport »</a>
    </div>
</main>