<h3>METAR</h3>
{{#if beginner}}
<p>This METAR is a weather report from {{airport.name}}. They are generally made every 30 mins at larger fields, and 1h at smaller
    fields.
</p>
{{/if}}
<p>
    <code>{{ weather.metar }}</code>
</p>