<h3>Runways</h3>
<table class="table" class="display" id="example">
    <tr>
        <th>runway</th>
        <th>heading</th>
        <th>length</th>
        <th>type</th>
    </tr>
    {{#each airport.runways}} {{#each this.end}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.heading}}</td>
        <td>{{this.length}}</td>
        <td>{{this.type}}</td>
    </tr>
    {{/each}} {{/each}}
</table>
