<h3>TAF</h3>
{{#if beginner}}
<p>This Terminal Area Forecast is a weather forecast from {{airport.name}}. They are generally made every 3h at larger fields,
    and 6-12h at smaller fields.
</p>
{{/if}}
<p>
    <code>{{ weather.taf }}</code>
</p>