<main role="main" class="container">
    <div class="jumbotron jumbotron-title-airport">
        <h1>For
            <strong>documentation</strong> purposes only</h1>
        <p class="lead">|This is the dashboard</p>
        <a class="btn btn-lg btn-primary" href="/airports/egkk" role="button">Random airport »</a>

    </div>
</main>